.sidenav {
    li {
        & > div {
            padding: 0 32px;
        }
    }

    .input-field {
        line-height: normal;
    }

    .collapsible-header,
    .collapsible-body {
        padding: 0 32px;
    }

    .collapsible-body {
        padding-top: 10px;
    }
}

.main_content {
    @media only screen and (min-width : 992px) {
        nav {
            padding-left: 300px;
        }

        section {
            padding: 20px 20px 20px 320px;
        }
    }
}
