.sidenav {
    li {
        & > div {
            padding: 0 32px;
        }
    }

    .input-field {
        line-height: normal;
    }

    .collapsible-header,
    .collapsible-body {
        padding: 0 32px;
    }

    .collapsible-body {
        padding-top: 10px;
    }
}

.main_content {
    nav, .content {
        padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
        nav, .content {
            padding-left: 0;
        }
    }
}
